APP_ENV=dev
APP_DEBUG=true
APP_URL=http://localhost

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=gmi_erp
DB_USER=root
DB_PASS=root
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

SESSION_NAME=GMISESSID
CSRF_SECRET=changeme-32chars-min

# --- SMTP (Gmail App Password) ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=crataldo@gmail.com
SMTP_PASS=fosw_wmky_xvmz_sjzl
SMTP_FROM=crataldo@gmail.com
SMTP_FROM_NAME=ERP-GMI
SMTP_TLS=true
SMTP_TIMEOUT=15
